:root {
  --font: "Lato", Verdana, Geneva, Tahoma, sans-serif;
  --font-size: 1.6rem;
  --font-size-small: 1.6rem;
  --font-weight-regular: 400;
  --font-weight-bold: 700;

  --btn-padding: 0.6rem 1.2rem;
  --btn-gap: 0.5rem;
  --btn-border-radius: 100rem;

  // HSL color definition for calc() manipulation
  --h: 349;
  --s: 100%;
  --l: 50%;
  --hsl: var(--h), var(--s), var(--l);

  --main: hsl(var(--hsl));
  --main-light: hsl(var(--h), var(--s), calc(var(--l) / 0.8));
  --main-dark: hsl(var(--h), var(--s), calc(var(--l) * 0.8));
  --main-text: hsl(var(--h), var(--s), calc(var(--l) * 0.2));
}
