.header {
  align-self: center;

  display: grid;
  justify-items: center;
  gap: 1.6rem;

  &__logo {
    display: block;
    aspect-ratio: 14202 / 4680;
    min-width: 10rem;
    width: 20vw;
    max-width: 15rem;

    fill: red;
  }

  &__title {
    font-size: 2rem;
    font-style: italic;
    font-weight: var(--font-weight-regular);
  }
}
