.btn {
  cursor: pointer;
  border: none;
  border-radius: var(--btn-border-radius);
  padding: var(--btn-padding);

  font-size: var(--font-size-small);
  font-family: inherit;
  color: inherit;

  display: inline-flex;
  align-items: center;
  gap: var(--btn-gap);
}
