.form {
  background: var(--white);
  height: 100%;
  padding: var(--btn-padding);
  border-radius: var(--btn-border-radius);
  display: inline-flex;
  gap: 1rem;
  margin-right: var(--btn-margin);
  width: 25.261rem;
  position: relative;

  align-items: center;

  label[for="search-input"] {
    line-height: 1;
  }

  &:has(&__search-input:invalid) {
    background: var(--main-10);
  }

  &__search-input {
    font-family: inherit;
    font-size: var(--font-size-small);
    color: inherit;
    background: transparent;
    border: none;

    &:focus {
      outline: none;
    }

    &::placeholder {
      font-style: italic;
    }

    &::-webkit-search-cancel-button {
      display: none;
    }
  }

  &__list {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(calc(100% + 0.3rem));
    list-style: none;
    z-index: 10;
    background: #eee;
    width: 100%;
    max-height: 30rem;
    border-radius: var(--radius-medium);
    overflow-y: scroll;
  }

  &__option {
    font-style: italic;
    padding: 0.6rem 1.2rem;
    cursor: pointer;

    &:first-of-type {
      padding-top: 1.2rem;
    }

    &:last-of-type {
      padding-bottom: 1.2rem;
    }

    &:hover,
    &:active {
      background: #ccc;
    }
  }
}
