.form {
  background: var(--white);
  height: 100%;
  padding: var(--btn-padding);
  border-radius: var(--btn-border-radius);
  display: inline-flex;
  gap: 1rem;
  margin-right: var(--btn-margin);
  width: 25.261rem;

  align-items: center;

  label[for="search-input"] {
    line-height: 1;
  }

  &__search-input {
    font-family: inherit;
    font-size: var(--font-size-small);
    color: inherit;
    background: transparent;
    border: none;

    &:focus {
      outline: none;
    }

    &::placeholder {
      font-style: italic;
    }

    &::-webkit-search-cancel-button {
      display: none;
    }
  }
}
