.body-container {
  padding: 3.2rem 1.6rem;
  min-height: 100vh;
  gap: 3.2rem;

  display: grid;
  grid-template-columns: minmax(10rem, 140rem);
  grid-template-rows: 1fr min-content 1fr;
  justify-content: center;
}
