.body-container {
  background: var(--gradient), var(--white);
  padding: 1.6rem 0;
  gap: 1.6rem;
  min-height: 100vh;

  display: grid;
  grid-template-columns: minmax(10rem, 140rem);
  grid-template-rows: 1fr min-content 1fr;
  justify-content: center;
}
